<p>Are you sure you want to delete the following show: <em>"<%=h "#{@show['band']} at #{@show['venue']}" %>"</em>?</p>
<form action="/shows/<%= @show['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Yes, Delete It!">
  <a href="/shows/<%= @show['id'] %>">Cancel</a>
</form>

