<article>
  <% @nearby_shows.each do |show| %>
      <p>
        Band: <%= show.band %><br>
        Venue: <%= show.venue %><br>
        Details: <%= show.description %><br>
      </p><br>
  <% end %>
</article>
