<% @nearby_shows.each do |show| %>
  <article>
    <p>Artist:
      <%=h show.band%>
    </p>
    <p>Date:
      <%=h show.date%>
    </p>
    <p>Venue:
      <%=h show.venue %>
    </p>
    <p>
      <%=h show.description %>
    </p>
  </article>
 <% end %>
