textarea {
    /*background-color: #66CCCC;*/
    background-color: #3A7BCC;
}

::-webkit-input-placeholder {
 font-size: 14px;
 /*color: #CC6699;*/
 color: #95C4FF;
 font-weight: bold;
}

body {
    margin: 35px auto;
    width: 640px;
    /*background-color: #0AB2A0;*/
    background-color: #244D7F;
}

header {
    text-align: center;
    margin: 0 0 20px;
}

header h1 {
    display: inline;
    font-size: 32px;
    font-family: "Rock Salt", cursive;
}

header h1 a:link, header h1 a:visited {
    /*color: #FF0099;*/
    color: #95C4FF;
    text-decoration: none;
}

header h2 {
    font-size: 20px;
    font-style: italic;
    color: #489AFF;
}

#main {
    margin: 0 0 20px;
}

#add {
    margin: 0 0 20px;
}

#add textarea {
    height: 30px;
    width: 510px;
    padding: 10px;
    border: 1px solid #ddd;
}

#add input {
    height: 50px;
    width: 100px;
    margin: -50px 0 0;
    border: 1px solid #ddd;
    background: #489AFF;
}

#edit textarea {
    height: 30px;
    width: 480px;
    padding: 10px;
    border: 1px solid #ddd;
}

#edit input[type=submit] {
    height: 50px;
    width: 100px;
    margin: -50px 0 0;
    border: 1px solid #ddd;
    background: white;
}

#edit input[type=checkbox] {
    height: 50px;
    width: 20px;
}

article {
    border: 1px solid #eee;
    border-top: none;
    padding: 15px 10px;
}

article:first-of-type {
    border: 1px solid #eee;
}

article:nth-child(even) {
    background: #3A7BCC;
}

article:nth-child(odd) {
    background: #4A627F;
}

article span {
    font-size: 0.8em;
}

p {
    margin: 0 0 5px;
    color: #95C4FF;
}

.meta {
    font-size: 0.8em;
    font-style: italic;
    color: #888;
}

.links {
    font-size: 1.8em;
    line-height: 0.8em;
    float: right;
    margin: -10px 0 0;
}

.links a {
    display: block;
    text-decoration: none;
}

.notice { color: green; }
.error { color: red; }

a{
    color: #fff;
    font-size: 1.2em;
}
