<h1><%= @venue[0]["venue_name"] %></h1>
<h1><%= @venue[0]["venue_description"] %></h1>

<% @venue.each do |show| %>
  <article>
    <p><%= "<a href='/bands/#{show['band_id']}'>#{show['band_name']}</a>" %></p>
    <p><%= show["show_date"] %></p>
  </article>
<% end %>
